
.details-table {
  width: 100%;
  margin: "50px";  
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid black;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 2px solid black;
}

td {
  border-bottom: 2px solid black;
  text-align: left;
}

.quiz-details-main {
  padding: 0 24px;
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.quiz-details-main .quiz-details-buttons {
  display: flex;
  justify-content: flex-end;
}

.quiz-details-main .quiz-details-button {
  margin: 2px;
  border-radius: 3px !important;
  border: 1px solid;
  border-color: #c7cdd1;
  border-radius: 3px;
}

.quiz-detail-content-title {
  text-align: right;
  padding-right: 10px !important;
}

.quiz-detail-content-form {
  width: 55% !important;
}

.icon-margin {
  margin-right: 14px;
}