.account-editor {
  background-color: black;
  
  float: left;
  padding: 40px;
  margin: 40px;
  border-radius: 30px;
}

.white_font {
  color: white;
}

.red_font {
  color: #dc3545;
}

.account-editor .account-edit-content-title {
  text-align: right;
  padding-right: 10px !important;
}

.account-editor .account-edit-content-form {
  width: 55% !important;
}
