.wd-kanbas-navigation {
  border-radius: 0 !important;
  background: black;
  width: 85px !important;
  min-height: max(100vh, 100%);
}

/* Each navigation item in kanbas navigation */
.wd-kanbas-navigation .list-group-item {
  background: black;
  padding: 10px;
  margin-block: 5px;
  border: 0;
  max-width: 100% !important;
  font-size: 0.9em !important;
  align-items: center;
  color: white;
}

/* Currently active navigation item */
.wd-kanbas-navigation .list-group-item.active {
  margin-top: 5px !important;
  background: white;
  color: red;
}

/* NEU Logo */
.wd-kanbas-navigation .neu-icon {
  padding: 0px;
  margin: 0px;
  width: 85px;
  height: 85px;
}

.wd-icon {
  font-size: 22px;
  color: red;
  align-self: center;
}

.kanbas-navigation-side-bar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: 85px;
  z-index: 100;
  background-color: black;
  flex-direction: column;
  align-items: center;
  float: left;
}

.kanbas-navigation-side-bar .list-group {
  width: 85px;
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.kanbas-navigation-side-bar .list-group-item {
  background-color: black !important;
  color: white !important;
  border-width: 0 !important; /* Set border-width to 0 */
  border-color: transparent !important; /* Set border-color to transparent */
  padding: 6px 0 !important;
  text-align: center !important;
  font-size: 0.85rem;
  font-weight: 300;
}

.kanbas-navigation-side-bar .list-group-item.active {
  background-color: white !important;
  color: red !important;
  border-width: 0 !important; /* Set border-width to 0 */
  border-color: transparent !important; /* Set border-color to transparent */
  padding: 6px 0 !important;
  text-align: center !important;
  font-size: 0.85rem;
  font-weight: 300;
}
